*, *::before, *::after {
    margin:0;
    padding:0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.error {
    color: #ff0000;
}

form 
{
    margin-top: 1rem;
}
form > *
{
    display:block;
}
label 
{
    margin-bottom: 0.5rem;
}
input {
    margin-bottom: 1rem;
    width: 200px;
    height: 35px;
}
input[value="Zoeken"] 
{
    margin-top: 0.5rem;
    width:15%
}

.genre-actions 
{
    text-decoration:none;
    color:cadetblue;
    font-size: 0.9rem;
}

.genre-actions:hover {
    color: rgb(0, 117, 88);
    font-size: 1rem;
}

.balk {
    position: relative;
    height: 50px;
    line-height: 50px;
    top: -10px;
    left:-2px;
    border-radius: 0.5rem;
    background: linear-gradient(25deg, rgb(0, 143, 255, 0.10) 25%, rgb(0, 212, 255, 0.62) 75%);
}

.balk p 
{
    font-weight: 300;
    color:rgb(8, 123, 255);
    margin: 1rem;
}
