@{
    ViewData["Title"] = "Home Page";
}

@model InlogViewModel

<form asp-action="Inloggen" method="get">
    <label asp-for="Naam"></label>
    <input asp-for="Naam" />

    <label asp-for="PostCode"></label>
    <input asp-for="PostCode" />
   
    @if (Model == null)
    {
        <p class="error">@ViewBag.ErrorMessage</p>
    }
    
    <input class="btn btn-primary" type="submit" value="Zoeken" />
</form>